<div class="container my-4">
    <div class="row">
        <div class="col-xl-5">
                
            <img src="/img/me.jpg" alt="Picture Of Ebuka Chuqz" width="400px">
        
        </div>
        
        <div class="col-xl-7">
            <h1>Chukwudi Chukwuebuka</h1>
            <h4>A.K.A. Ebuka Chuqz</h4>
            <p>Is a young enthusiastic Web developer. <br> 
            He is prolificient in HTML, CSS, JAVASCRIPT, PYTHON <br>
            Enjoys backend engineering and is prolificient in two technologies namely Node JS(javascript) & Flask(python) <br>
            Also for Database management he works with SQL Or Mongo DB<br>
            He is currently a student and is pursuing a BSc. in Mathematics at the University of Nigeria, Nsukka, Enugu, Nigeria. <br>
            He has Built projects with all these technologies which can be seen on his Github profile.</p>

            <p>Link to the Github Repo of this project: <a href="https://github.com/Ebukachuqz/Recipe-Blog" target="_blank" rel="noopener noreferrer">Recipe Blog</a></p>
            <p>Contact On:</p>
            <p>Email: ebukachuqz@gmail.com</p>
            <ul class="nav justify-content-center d-flex">
                <li class="ms-3"><a class="text-deco" href="https://github.com/Ebukachuqz" target="_blank" rel="noopener noreferrer">
                    Github |</a>
                </li>
            <li class="ms-3"><a class="text-deco" href="https://www.linkedin.com/in/chukwuebuka-chukwudi-29482a236/" target="_blank" rel="noopener noreferrer">
                LinkedIn |</a>
            </li>
            <li class="ms-3"><a class="text-deco" href="https://twitter.com/EbukaChuqz" target="_blank" rel="noopener noreferrer">
                Twitter</a>
            </li>
            </ul>

        </div>
    </div>
</div>