<section>
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border: none; background-color: transparent;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-3 mx-1 mx-md-4">Sign In</p>
                <%- include('./partials/flash-msg.ejs') %>
                <form action="/login" method="post">

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="email" id="email" name="email" class="form-control" required/>
                      <label class="form-label" for="email">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <div class="form-outline flex-fill mb-0">
                      <input type="password" id="password" name="password" class="form-control" required/>
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg">Login</button>
                  </div>

                  
                </form>
                <div class="d-flex flex-column align-items-center mb-4">
                    <small><a href="/" class="text-deco text-danger">Forgot Password?</a></small>
                  <small>Don't Have an Account? <a href="/register">Register Here</a></small>

                  <h4 class="text-center my-2">- OR -</h4>
                  <p>
                    <a href="/auth/google" class="btn btn-block btn-danger">
                      <i class="bi bi-google"></i> Sign In with Google</a>
                  </p>
                </div>
                
              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/img/login.jpg" class="img-fluid" alt="Login Image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>