<div class="row align-items-center justify-content-center my-5">
			<div class="col-lg-5 col-md-8 py-8 py-xl-0 my-4">
				<!-- Card -->
				<div class="card shadow">
					<!-- Card body -->
					<div class="card-body p-6">
						<div class="mb-4">
							<h1 class="mb-1 fw-bold">Reset Password</h1>
							<p>Fill the form to reset your password.</p>
						</div>
                        <%- include('../partials/flash-msg.ejs') %>
							<!-- Form -->
						<form action="/reset/<%=token%>" method="post">
								<!-- Password -->
							<div class="mb-3">
								<label for="password" class="form-label">Password</label>
								<input type="password" id="password" class="form-control" name="password" placeholder="Enter Your New Password" minlength="8" required>
							</div>

                            <div class="mb-3">
								<label for="password2" class="form-label">Confirm Password</label>
								<input type="password" id="password2" class="form-control" name="password2" placeholder="Confirm Password" minlength="8" required>
							</div>
								<!-- Button -->
							<div class="mb-3 d-grid">
								<button type="submit" class="btn btn-primary">
									Reset Password
								</button>
							</div>
							<span>Return to <a href="/login">Sign In</a></span>
						</form>
					</div>
				</div>
			</div>
		</div>