<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Submit Your Recipe</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">Share your amazing recipies with thousands of web developers accross the world. Fill our form to get started.</p>
  </div>
</div>

<div class="row justify-content-center">

  <div class="col-8">
    <%- include('../partials/flash-msg.ejs') %>
    <form action="/submit-recipe" enctype="multipart/form-data" method="POST">
    
      <div class="row g-3">

        <div class="col-12">
          <label for="name" class="form-label">Meal Name</label>
          <input type="text" name="mealName" id="mealName" class="form-control" required>
        </div>
        
        <div class="col-12">
          <label for="instructions" class="form-label">Instructions</label>
          <textarea name="instructions" id="instructions" class="form-control" cols="30" rows="4" required></textarea>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Ingredients</label><br>
          <small>Example: 1.5kg Chicken</small>
          <div class="ingredientList">
            <div class="ingredeintDiv mb-1">
              <input type="text" name="ingredients" class="form-control" required>
            </div>
          </div>
        </div>

        <div class="col-12">
          <button type="button" class="btn btn-outline-primary" id="addIngredientsBtn">+ Ingredient</button>
        </div>

        <div class="col-12">
          <label for="category">Select Category</label>
          <input type="text" name="category" id="category" class="form-control" required>
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Video Link (Optional)</label>
          <input type="url" name="videoLink" id="videoLink" class="form-control">
        </div>

        <div class="col-12">
          <label for="image">Meal Image</label>
          <input type="file" class="form-control" name="image" accept="image/*">
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit Recipe</button>
        </div>

      </div>
    
    </form>

  </div>
</div>